---
layout: default
permalink: /blog/
---

<div class="posts">
  {% for post in site.posts %}

    <!-- show only for articles, not comics -->
    {% if post.noTitle != true %}
      <article class="post">
        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>    

          {% if site.tags != "" %}  
            {% include collectTags.html %}
          {% endif %}  

            <div class="entry">
              {{ post.date | date: "%B %e, %Y" }}
              {{ post.excerpt }}
            </div>

          <p class="read-more"><a href="{{ site.baseurl }}{{ post.url }}">Read More</a></p>
      </article>
      {% endif %}
    {% endfor %}
</div>
