---
layout: default
---

<article class="post">
  <div class="center">
    {% if site.tags != "" %}  
      {% include collectTags.html %}
    {% endif %}  

    {{ page.date | date: "%B %e, %Y" }}    

    <p><span>[
      {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
      {% endfor %}
    ]</span></p>

    {{ content }}
  </div>
	{% if page.date %}
	  <div class="date">
	  </div>
	{% endif %}

  {% include disqus.html %}
</article>
